# Infra environment variables for apps deployment
DOMAIN=example.com
EMAIL=dummy@example.com
CLUSTER_ISSUER_NAME=dummy-issuer
CLUSTER_ISSUER_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory

# Application specific variables
APP_NAME=argocd
APP_REPO_NAME=argo
APP_CHART_NAME=argo-cd
APP_CHART_VERSION=7.6.7
APP_REPO_URL=https://argoproj.github.io/argo-helm